.common-box.common-box--bg {
  overflow: hidden;
  border-radius: 10px;
  border-bottom: 5px solid #c0727a;
  background-color: #29307c;
  color: #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}
