.card-16 {
  position: relative;
}

.card-16-thumb {
  padding: 5px;
  border: 2px solid #bae7eb;
  border-radius: 10px;
}

.card-16-thumb img {
  border-radius: 5px;
}

.card-16-body {
  background-color: #bae7eb;
  padding: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.card-16-body .card-16-title {
  font-weight: 700;
}
