/* jobs overview design starts */

.jobs-overview > div:first-child {
  background-color: #1d3849;
  padding: 20px;
}

.jobs-overview > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs-overview > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobs-overview > div:first-child h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.jobs-overview > div:first-child h1 span:first-child {
  color: #eab727;
  font-size: 50px;
}

.jobs-overview > div:first-child h1 span:nth-child(2) {
  font-size: 50px;
}

.jobs-overview > div:first-child h1 span:last-child {
  font-size: 20px;
}

.jobs-overview > div:nth-child(2) {
  position: relative;
  background-color: #adddf4;
  padding: 20px;
}

.jobs-overview > div:nth-child(2) img {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  right: -25px;
}

.jobs-overview > div:nth-child(2) > div {
  color: #1d3849;
  text-align: center;
  font-weight: 700;
}

.jobs-overview > div:nth-child(2) > div:first-child {
  font-size: 50px;
}

.jobs-overview > div:nth-child(2) > div:last-child {
  font-size: 20px;
}

.jobs-overview > div:last-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jobs-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "one img" "two img";
}
.jobs-overview > div:first-child {
  grid-area: one;
}
.jobs-overview > div:nth-child(2) {
  grid-area: two;
}
.jobs-overview > div:last-child {
  grid-area: img;
}

@media (min-width: 768px) {
  .jobs-overview > div:nth-child(2) img {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -40px;
    right: -40px;
  }
}

@media (min-width: 1400px) {
  .jobs-overview > div:nth-child(2) img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    right: -50px;
  }
}

@media (max-width: 991px) {
  .jobs-overview {
    grid-template-columns: 3fr 2fr;
  }

  .jobs-overview > div:first-child,
  .jobs-overview > div:nth-child(2) {
    padding: 10px;
  }

  .jobs-overview > div:first-child h1 span:first-child,
  .jobs-overview > div:first-child h1 span:nth-child(2),
  .jobs-overview > div:nth-child(2) > div:first-child {
    font-size: 26px;
    font-weight: 700;
  }
  .jobs-overview > div:first-child h1 span:last-child,
  .jobs-overview > div:nth-child(2) > div:last-child {
    font-size: 14px;
  }
}

/* jobs overview design ends */
